<?xml version="1.0"?>
<config>
    <modules>
        <ProxiBlue_GiftFromSubscription>
            <version>1.0.0</version>
        </ProxiBlue_GiftFromSubscription>
    </modules>
    <global>
        <blocks>
            <proxiblue_giftfromsubscription>
                <class>ProxiBlue_GiftFromSubscription_Block</class>
            </proxiblue_giftfromsubscription>
        </blocks>
        <helpers>
            <proxiblue_giftfromsubscription>
                <class>ProxiBlue_GiftFromSubscription_Helper</class>
            </proxiblue_giftfromsubscription>
        </helpers>
        <models>
            <proxiblue_giftfromsubscription>
                <class>ProxiBlue_GiftFromSubscription_Model</class>
            </proxiblue_giftfromsubscription>
        </models>
        <resources>
            <proxiblue_giftfromsubscription_setup>
                <setup>
                    <module>ProxiBlue_GiftFromSubscription</module>
                </setup>
            </proxiblue_giftfromsubscription_setup>
        </resources>
        <events>
        <newsletter_subscriber_save_before>
            <observers>
                <giftfromsubscription_newsletter_subscriber_save_before>
                    <class>proxiblue_giftfromsubscription/observer</class>
                    <method>newsletter_subscriber_save_before</method>
                </giftfromsubscription_newsletter_subscriber_save_before>
            </observers>
        </newsletter_subscriber_save_before>
    </events>
    </global>
</config>